:root {
    --blue-hsl: 231, 89%, 61%;
    --overlay-blurple: hsla(var(--blue-hsl), 0.2);
}

:root[data-theme='light'] {
    --blue-hsl: 231, 89%, 66%;
}

[data-has-hero] .page {
	background:
		linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
		radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
		radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50% calc(100% + 20rem) /
			60rem 30rem;
}

[data-has-hero] header {
	border-bottom: 1px solid transparent;
	background-color: transparent;
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
}

[data-has-hero] .hero > img {
	filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

/* Table styling */
.sl-markdown-content table:not(:where(.not-content *)) {
	width: 100%;
    max-width: 100%;
	display: block;
	overflow: auto;
	border-spacing: 0;
	width: fit-content;
	border: 1px solid var(--sl-color-gray-5);
}

.sl-markdown-content :is(th, td):not(:where(.not-content *)) {
	max-width: 20rem;
	border-bottom: 1px solid var(--sl-color-gray-5);
	padding: 0.5rem 1rem;
	/* Align text to the top of the row in multiline tables. */
	vertical-align: baseline;
}

.sl-markdown-content :is(th:first-child, td:first-child):not(:where(.not-content *)) {
	padding-inline-start: 1rem;
}

.sl-markdown-content :is(th:last-child, td:last-child):not(:where(.not-content *)) {
	padding-inline-end: 1rem;
}

.sl-markdown-content th:not(:where(.not-content *)) {
	background-color: var(--sl-color-gray-7);
	color: var(--sl-color-white);
	font-weight: 600;
}